fastapi
uvicorn
mysql-connector-python
python-multipart
pydantic
pydantic-core
pillow
opencv-python
pytesseract
python-dateutil
requests
scikit-learn
numpy
scipy
transformers
torch
pandas
PyMySQL
python-dotenv